body {
    font-family: 'Fredoka One', cursive;
  }

  .game-height {
    height: 300px;
 }

 .less-padding {
   padding: 0.5rem;
 }

 .nav-margin-bot{
   margin-bottom: 30px;
 }

 .canvas{
  touch-action: none;
 }

 .gameword {
  transition: 2000ms all ease-out;
  opacity: 1;
  will-change: opacity;
}

.hide {
  opacity: 0;
}
.pen-size{
  cursor: pointer;
}